# --------- General/mutual ---------
Label {
    content-align: center middle;
    text-align: center;
    align: center middle;
    padding: 1 2;
    # width: auto;
    # border: wide white;a
}

Container {
    border: wide white;
}

Screen {
    align: center middle;
    content-align: center middle;
    # border: solid red;
}

Placeholder {
    width: 40%;
    /* border: solid red; */
    height: 50%;
}

ListView {
    width: 30;
    height: auto;
    margin: 2 2;
}

Button {
    align: center middle;
    padding: 1;
}

# --------- AlertsScreen ---------
#alerts_data_table {
    align: center middle;
    width: auto;
}

# --------- AskForCityScreen ---------
AskForCityScreen {
    background: $background;
}
#city_input {
    width: 40%;
}

.help_label {
    text-align: center;
    width: auto;
    margin: 1;
}

# --------- PlotScreen ---------
#plotext-plot {
    margin: 1;
}

#dialog_pop_up {
    content-align: center middle;
    width: auto;
    height: auto;
}

# ------------ MainScreen ------------
#main_help_label {
    color: blanchedalmond;
}
#alert_has_been_triggered_label {
    color: red;
    border: red;
    # width: auto;
    height: 5;
}
.main_warning_labels_vertical_scroll  {
    content-align: center middle;
    text-align: center;
    align: center middle;
    # border: wide white;
    height: auto;
}
.alert_labels {
    color: red;
    padding: 0;
}
.info_label {
    color: dodgerblue;
}
.warning_label {
    color: yellow;
}
.danger_label {
    color: red;
}
.critical_label {
    color: violet;
}

# --------- AskAlertDetailsScreen ---------
#critical_button {
    color: violet;
    background: violet;
}

Horizontal {
    content-align: center middle;
    align: center middle;
    height: auto;
}

#name {
    column-span: 2;
}

#ask_for_alert_dialog {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
    align: center middle;
}

#ask_for_alert_grid {
    # number of columns and rows in a grid layout.
    # The number of rows can be left unspecified and it will be computed automatically
    grid-size: 2;

    # the space between adjacent cells in the grid
    # grid-gutter: 1 1;

    # define the height of the rows of the grid
    grid-rows: 1fr;

    # padding: 0 1;
    width: 80;
    height: 20;
    border: thick $background 80%;
    background: $surface;
}
